<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHARE YOUR TOUGHTS TO WORLD</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>



    <section class="body_conatiner">
        <div class="container" id="thougths_heading">
            <div class="row">
                <div class="col-lg-12">
                    <h1>WELCOME TO THE WORLD OF THOUGTHS </h1>
                    <h2>SPREAD YOUR THOUGTHS TO THE WORLD </h2>
                </div>
            </div>

        </div>
    </section>
    <section class="image_picker">
        <div class="container" id="image_of_thougth">
            <div class="row">
                <div class="col-lg-12">
                    <img src="https://www.henryford.com/-/media/henry-ford-blog/images/mobile-interior-banner-images/2019/09/negative-thinking.jpg" alt="this is the picture" class="image_1">
                </div>
            </div>
        </div>

    </section>
    <section id="main_conatiner">
        <div class="container" id="register_login_area">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12" id="buttons_area">
                    <div>
                        <a href="/register" class="buttons_area"><button role="button" class="btn btn-outline-dark">register</button></a>
                        <a href="/login" class="buttons_area"><button role="button" class="btn btn-outline-dark">login</button></a>
                        <a href="/thougth" class="buttons_area"><button role="button" class="btn btn-outline-dark"> thougth</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>